version: 1
extends: config/scientific-python.yml
project:
  title: {{project_url}}

site:
  nav:
    - title: About
      url: /about
    - title: News
      url: /news
  options:
    favicon: assets/images/favicon.ico
    logo: assets/images/logo.svg
    logo_text: {{project_name}}
